[submodule "sites/www.toby.codes/src/themes/hugo-base16-theme"]
	path = sites/www.toby.codes/src/themes/hugo-base16-theme
	url = git@github.com:htdvisser/hugo-base16-theme.git
[submodule "infra/www.tobys.cloud/submodules/kube-prometheus"]
	path = infra/www.tobys.cloud/submodules/kube-prometheus
	url = https://github.com/coreos/kube-prometheus.git
