@font-face {
    font-family: 'd-dinregular';
    src: url('d-din-webfont.woff2') format('woff2'),
         url('d-din-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'd-dinregular', monospace;
}

::selection {
  background: mediumseagreen;
  color: ghostwhite;
}
::-moz-selection {
  background: mediumseagreen;
  color: ghostwhite;
}

a {
  color: ghostwhite;
  text-decoration-color: transparent;
  border-bottom: 1px dotted ghostwhite;
}

hr {
  height: 0;
  border: none;
  border-bottom: 1px dotted ghostwhite;
}

p.term {
  white-space: pre-wrap;
  font-family: monospace;
}

p.term.motd {
  color: var(--base07);
  font-size: 0.6em;
}

ul.no-bullet {
  list-style-type: none;
  padding-left: 0;
}

@media (min-width: 600px) {
  p.term.mobile {
    display: none;
  }
  p.term.no-mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  p.term.mobile {
    display: block;
  }
  p.term.no-mobile { display: none; }
}

@media (max-width: 52em) {
  header, main.homepage {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
