{{ define "stat" }}
{{ end }}

<!DOCTYPE html>
<html lang="en-GB" class="no-dark-mode">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://assets.tobys.cloud/styles.css" type="text/css">
    <link rel="icon" href="https://assets.tobys.cloud/favicon.ico">
    <title>stats</title>
    <meta http-equiv="refresh" content="30">
  </head>

  <body>
    <div class="container">
      <header>
        <h1>stats</h1>
        <p>updated {{ .SecondsAgo }} seconds ago</p>
        <p>
          includes stats for the top 5
          (over the last 24h)
          petitions over the past 7d
        </p>
      </header>
    </div>

    <main class="container">
    {{ range $index, $stat := .Stats }}
      <h2>&ldquo;{{ $stat.Name }}&rdquo;</h2>
      {{ $stat.SVG }}
      <p>via {{ $stat.Source }}</p>
    {{ end }}
    </main>
  </body>
</html>

