{{ define "stat" }}
{{ end }}

<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://assets.tobys.cloud/styles.css" type="text/css">
    <link rel="icon" href="https://assets.tobys.cloud/favicon.ico">
    <title>stats</title>
    <meta http-equiv="refresh" content="30">

    <style>
      .chart line {
        stroke-width: 0.5;
        stroke: var(--light);
      }

      .chart path {
        stroke-width: 1;
        stroke: var(--dark);
        fill: none;
      }

      .chart circle {
        stroke: none;
        fill: var(--dark);
      }

      .chart text {
        stroke: none;
        fill: var(--dark);
      }
    </style>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>stats</h1>
        <p>updated {{ .SecondsAgo }} seconds ago</p>
      </header>
    </div>

    <main class="container">
      <h2>petitions</h2>
      <p>hourly stats for the top 15 (over the last 24h) petitions over the past 7d</p>
      <table>
        <tr>
          <th style="width: 50%%">Petition</th>
          <th style="mid-width: 400px; width: 50%">Chart</th>
        </tr>
        {{ range $index, $stat := .Stats }}
        <tr>
          <td>
            <p><em>&ldquo;{{ $stat.Name }}&rdquo;</em></p>
          </td>
          <td>
            {{ $stat.SVG }}
          </td>
        </tr>
        {{ end }}
        </table>
    </main>

    <footer class="container">
      built by <a href="https://www.toby.codes">@tlwr</a>
    </footer>
  </body>
</html>

