<main>
  <h1>Naaipatronen</h1>

  <section>
    <h2>Kinderrokje</h2>

    <div id="kinderrokje-patroon">
      <div hx-trigger="load"
           hx-vals='{"lengte": "35", "heupomvang": "50"}'
           hx-post="/naaipatronen/kinderrokje"></div>
    </div>

    <table>
      <thead>
        <tr>
          <th>Leeftijd</th>
          <th>Lengte</th>
          <th>Heupomvang</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3 jaar</td><td>35cm</td><td>50cm</td>
          <td>
            <button hx-target="#kinderrokje-patroon"
                    hx-vals='{"lengte": "35", "heupomvang": "50"}'
                    hx-post="/naaipatronen/kinderrokje">Patroon genereren</button>
          </td>
        </tr>
        <tr>
          <td>5 jaar</td><td>45cm</td><td>60cm</td>
          <td>
            <button hx-target="#kinderrokje-patroon"
                    hx-vals='{"lengte": "45", "heupomvang": "60"}'
                    hx-post="/naaipatronen/kinderrokje">Patroon genereren</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
