<main role="main" class="homepage">
  <h2>About</h2>
  <p>
    Toby Lorne is a software engineer who works on making systems and networks
    more reliable and efficient. Presently in Amsterdam at
    <a href="https://www.booking.com">Booking.com</a>.
  </p>
  <p>
    UK
    <a href="https://gds.blog.gov.uk/">Government Digital Service</a>
    and
    <a href="https://blogs.fcdo.gov.uk">Foreign, Commonwealth &amp; Development Office</a>
    alumnus.
    <br>
    Co-founded
    <a href="https://www.crunchbase.com/organization/macromeasures">Macromeasures</a>,
    acquired by
    <a href="https://www.crunchbase.com/organization/peekanalytics">StatSocial</a>
    in 2018.
  </p>

  <h2>Contact</h2>
  <ul class="no-bullet">
    <li>
      &#x1f4e7; <a href="mailto:toby@toby.codes">toby@toby.codes</a>
    </li>
    <li>
      &#128187; <a href="https://github.com/tlwr">github.com/tlwr</a>
    </li>
  </ul>

  <h2>Open source</h2>
  <ul class="no-bullet">
    <li>
      <a href="https://github.com/tlwr/operator-tools">
        tlwr/operator-tools
      </a>
    </li>

    <li>
      <a href="https://github.com/tlwr/petitions-exporter">
        tlwr/petitions-exporter
      </a>
    </li>

    <li>
      <a href="https://github.com/tlwr/registry-tag-resource">
        tlwr/registry-tag-resource
      </a>
    </li>

    <li>
      <a href="https://github.com/tlwr/merge-mgr">
        tlwr/merge-mgr
      </a>
    </li>

    <li>
      <a href="https://github.com/alphagov/terraform-provider-concourse">
        alphagov/terraform-provider-concourse
      </a>
    </li>

    <li>
      <a href="https://github.com/alphagov/router">
        alphagov/router
      </a>
    </li>

    <li>
      <a href="https://github.com/alphagov/elasticsearch-to-splunk">
        alphagov/elasticsearch-to-splunk
      </a>
    </li>

    <li>
      <a href="https://github.com/concourse/concourse">
        concourse/concourse
      </a>
    </li>

    <li>
      <a href="https://github.com/gchq/cyberchef">
        gchq/cyberchef
      </a>
    </li>
  </ul>

  <h2>Links</h2>
  <ul class="no-bullet">
    <li>
      📈
      <a href="https://stats.tobys.cloud">
        stats
      </a>
    </li>

    <li>
      🍅
      <a href="https://pom.tobys.cloud">
        pom
      </a>
    </li>

    <li>
      🌐
      <a href="https://what-is-my-ip.tobys.cloud">
        what-is-my-ip
      </a>
    </li>

    <li>
      9️⃣
      <a href="https://nines.tobys.cloud/99.9">
        nines (downtime calculator)
      </a>
    </li>
  </ul>
</main>
