<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://assets.tobys.cloud/styles.css" type="text/css">
    <link rel="icon" href="https://assets.tobys.cloud/favicon.ico">
    <title>Toby Lorne</title>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Toby Lorne</h1>
        <nav>
          <a href="/">About</a>
          <a href="/posts">Posts</a>
          <a href="/work">Work</a>
        </nav>
      </header>
    </div>

    <div class="container">
      {{ yield }}
    </div>
  </body>
</html>
