<main role="main" class="homepage">
  <h2>Posts</h2>

  <h3>Ongoing</h3>
  <ul class="no-bullet">
  {{ range $index, $post := .ongoing }}
    <li itemprop="headline">
      <a href="/posts/{{ index $post 0 }}">{{ index $post 1 }}</a>
    </li>
  {{ end }}
  </ul>

  <h3>Posts</h3>
  <ul class="no-bullet">
  {{ range $index, $post := .dated }}
    <li itemprop="headline">
      <span style="font-family: monospace;">{{ index $post 2 }}</span>
      <a href="/posts/{{ index $post 0 }}">{{ index $post 1 }}</a>
    </li>
  {{ end }}
  </ul>
</main>
