<main>
  <section>
    <h2>Atelier</h2>
    <p>
      Zondag 22 December
      &mdash;
      <a href="https://www.swanmarket.nl">Swan Market</a>
      &mdash;
      Binnenrotte, Rotterdam
    </p>
  </section>
</main>
