html, body {
  padding: 0;
  margin: 0;
}

main {
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;

  margin: 0 auto 0 auto;
  max-width: 800px;
  width: 100%;
}

p {
  margin: 10px;
}

p.words + p.words {
  margin-top: 50px;
}

a {
  text-decoration: none;
}

hr {
  background-color: black;
  height: 3px;
  border: none;
}
