html, body {
  padding: 0;
  margin: 0;
}

main {
  font-family: monospace;
  font-size: 1.25em;
  font-weight: bold;

  margin: 0 auto 0 auto;
  max-width: 800px;
  width: 100%;
}

a {
  text-decoration-style: wavy;
}
