html, body {
  padding: 5px;
  margin: 0;
  background-color: #222;
  color: ghostwhite;
  font-family: monospace;
  line-height: 1.33em;
}

a {
  color: ghostwhite;
  text-decoration-style: dotted;
}

p {
  margin: 0 auto 0 auto;
  padding: 0 10px 10px 10px;
  max-width: 800px;
  width: 100%;
}

p.term {
  white-space: pre-wrap;
}

p.term.cmd {
  color: dodgerblue;
}

p.term.motd {
  color: mediumseagreen;
}

@media (min-width: 600px) {
  p.term.mobile {
    display: none;
  }
  p.term.no-mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  p.term.mobile {
    display: block;
  }
  p.term.no-mobile {
    display: none;
  }
}
